body{
    background: linear-gradient(to right, #673c00, #483300); 
    text-align: center;
    
}

.intro, .form_container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container{
    background: white;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
}

li {
    display: inline;
    padding: 10px;
    background-color: #825700;
    color: white;
    
  }
ul {
    text-align: center;
    padding: 10px;
    color: white;

}
li a{
    color: rgb(0, 0, 0)

}
li:hover {
    background-color: #a27200;
  }
.table_container{
    width: auto;
    padding: 2rem;
    
}

.table_container table, th, td{
    border: 2px solid;
    text-align: left;
    
}

.table_container table{
    width: 100%;
    border-collapse: collapse;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}
button{
    background: #cbfda5;
}

button:focus{
    background: #b28b00;
}

button:hover {
    background-color: #936804;
}

h1,h2,h3,h4,h5,h6, p{
    color: white;
}